<table class="conjugation-fields" data-conjugation-fields>
  <tbody>
    <tr>
      <%= render 'input_for_conjugation', conjugation: conjugation, pronoun: 'je' %>
    </tr>
    <tr>
      <%= render 'input_for_conjugation', conjugation: conjugation, pronoun: 'tu' %>
    </tr>
    <tr>
      <%= render 'input_for_conjugation', conjugation: conjugation, pronoun: 'il' %>
    </tr>
    <tr>
      <%= render 'input_for_conjugation', conjugation: conjugation, pronoun: 'nous' %>
    </tr>
    <tr>
      <%= render 'input_for_conjugation', conjugation: conjugation, pronoun: 'vous' %>
    </tr>
    <tr>
      <%= render 'input_for_conjugation', conjugation: conjugation, pronoun: 'ils' %>
    </tr>
  </tbody>
</table>
