<div class="row">
  <div class="col s2 offset-s5 center-align">
    <div class="challenge-accepted"></div>
    <%= form_tag challenges_path, method: :post do %>
      <button class="btn challenge-submit waves-effect waves-light" type="submit"
        name="action" id="new-challenge">Try me</button>
    <% end %>
  </div>
</div>

<% if @verb %>
  <div class="row exercises-row">
    <div class="col s12 l4 offset-l2">
      <%= render 'shared/card', title: 'Conjugate', action: :show_answers do %>
        <div>
          Verb <b><%= link_to @verb.verb, conjugation_path(@verb.verb.parameterize), target: '_blank' %></b>,
          on <%= @verb_tense.tense_mode.name %> <%= @verb_tense.tense %>
        </div>

        <% conjugation = conjugations_for(@verb, @verb_tense) %>

        <% if conjugation %>
          <%= render 'conjugation_exercise', conjugation: conjugation %>
        <% else %>
          hum...something went wrong :(
        <% end %>
      <% end %>
    </div>

    <div class="col s12 l4">
      <%= render 'shared/card', title: 'Write a sentence' do %>
        <div>
          Verb <b><%= link_to @verb.verb, conjugation_path(@verb.verb.parameterize), target: '_blank' %></b>,
          on <%= @verb_tense.tense_mode.name %> <%= @verb_tense.tense %>
        </div>
        <div>Pronoun <b><%= @pronoun %></b></div>

        <textarea class="write-a-sentence"></textarea>
      <% end %>
    </div>
  </div>
<% end %>
