<!DOCTYPE html>
<html>
  <head>
    <title>Croissant</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= yield :header %>

    <section>
      <%= yield %>
    </section>

    <%= render 'layouts/loader' %>
  </body>
</html>
